
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <app-loading></app-loading>
  <body>
    <div class="wrapper">
      <input type="checkbox" id="btn" hidden>
      <label for="btn" class="menu-btn">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
      </label>
      <nav id="sidebar">
         <div class="title">
          Darmon
         </div>
         <ul class="list-items">
          <li><button [routerLink]="['/administrator/home']"><i class="fas fa-home"></i>Inicio</button></li>
            <li><button (click)="refreshToken()" [routerLink]="['/administrator/users']"><i class="fas fa-users"></i>Usuarios</button></li>
           <!-- <li><button [routerLink]="['/administrator/clubs']"><i class="fas fa-sitemap"></i>Clubes</button></li>
            <li><button [routerLink]="['/administrator/entities']"><i class="fas fa-user-secret"></i>Entidad Deportiva</button></li>
            <li><button [routerLink]="['/administrator/type-events']"><i class="fas fa-flag-checkered"></i>Eventos</button></li>
            <li><button [routerLink]="['/administrator/sports']"><i class="fas fa-futbol"></i>Deportes</button></li>
            <li><button [routerLink]="['/administrator/all-plans']"><i class="fas fa-dolly-flatbed"></i>Planes</button></li>
            <li><button [routerLink]="['/administrator/all-subscription']"><i class="fas fa-subscript"></i>Suscripciones</button></li>
            <li><button (click)="refreshToken()" [routerLink]="['/administrator/pays']"><i class="fas fa-dollar-sign"></i> Pagos</button></li>
            <li><button [routerLink]="['/administrator/chat']"><i class="fas fa-comments"></i>Servicio al cliente</button></li>-->
            <li><button (click)="salir()"><i class="fas fa-adversal"></i>Cerrar sesión</button></li>
            <div class="time">{{hr}}:{{min}}:{{sec}}:{{ms}}</div>
            <div class="icons">
               <button><i class="fab fa-facebook-f"></i></button>
               <button><i class="fab fa-instagram"></i></button>
               <button><i class="fab fa-github"></i></button>
            </div>
         </ul>
      </nav>
   </div>
   <section>
<router-outlet></router-outlet>
   </section>
</body>
</html>
